/*https://coolors.co/eee82c-273b09-58641d*/

:root {
    --primary-color: #273B09;
    --secundary-color: #58641D;
    --accent1-color: #EEE82C;
    --accent2-color: #927555;
    --accent3-color: #000000;
    --accent4-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid #333333f2;
    box-shadow: 3px 1px 8px 8px rgba(20, 7, 7, 0.508);
}

main {
    width: 100vw;
    height: auto;
    background-color: rgba(0, 128, 0, 0.399);
}

.staff {
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
}

h1 {
    text-align: center;
    padding: 10px;
}

figure img {
    width: 150px;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.image-caption {
    display: inline-block; 
    text-align: center;
    margin: 10px; 
}

.image-caption img {
    width: 150px;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.image-caption figcaption {
    font-size: 1.2rem;
    color: #fff;
    margin-top: -5px;
    padding: 5px;
    background-color: #333333dc;
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px;
}

.form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

.form h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;

    margin-right: 10px;
    font-size: 14px;
  }

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    margin-bottom: 10px;
  }

.form-group p {
    margin-bottom: 10px;
    font-weight: bold;
}

.form-group label input[type="radio"] {
    margin-right: 5px;
}

.form button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form button:hover {
    background-color: #45A049;
}

button:hover {
    background-color: #0056b3;
}

header img {
    width: 130px;
    height: auto;
    margin-left: 5px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1em;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 90%;
}

.map iframe {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

iframe {
    width: 100vw;
    height: 50vh;
}

footer {
    width: 100%;
    display: flex;
    background-color: #927555;
    border-top: 1px solid #33333356;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.336);
}

.corporativo {
    margin-left: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.sociallinks {
    display: flex;
    gap:20px;

}

.sociallinks a {
    width: 48px;
    height: auto;
    cursor: pointer;
}


