/*https://coolors.co/eee82c-273b09-58641d*/

:root {
    --primary-color: #273B09;
    --secundary-color: #58641D;
    --accent1-color: #EEE82C;
    --accent2-color: #927555;
    --accent3-color: #000000;
    --accent4-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--accent4-color);
    color: var(--accent2-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--accent3-color);
}

header img {
    width: 150px;
    margin: 5px 10px; 
}


header, main, footer {
    width: 840px;
    margin: 0 auto;
}

nav a {
    margin: auto;
    letter-spacing: .1em;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
}

h1, h2 {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    color: var(--accent2-color);
    text-align: center;
    padding: 10px;
}

p {
    font-family: "Prompt", sans-serif;
    font-size: 0.8rem;
    text-align: justify;
    margin: 10px;
    text-indent: 10px;
}

nav p, article, 
section {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}


.hero article img {
    float: right;
    width: 125px;
    margin-left: 10px;

}

article {
    position: absolute;
    bottom: 10px;
    left: 20px;
    height: 125px;
    background-color: rgba(211, 211, 211, 0.438);
}

article img {
    float: right;
    border: 1px solid rgb(0, 0, 0);
    margin: 5px;
    padding: 3px;
    box-shadow: 3px 2px 5px gray;
}

.image_container {
    grid-template: 1fr 1fr / 1fr 1fr;
    display: grid;
    justify-content: center;
    gap: 15px;
    text-align: center;
}

.image_container img {
    width: 400px;
}

h1, h2 {
    font-family: "Roboto", sans-serif;
    color: var(--accent3-color);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secundary-color);
    color: #fff;
}

footer {
    display: flex;
    background-color: #927555;
    justify-content: space-between;
    justify-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.336);
}

footer p {
    margin-left: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

.socialmedia {
    gap: 10px;
}

.socialmedia a {
    text-decoration: none;
}







