/* https://coolors.co/eee82c-273b09-58641d */

:root {
    --primary-color: #273B09;
    --secundary-color: #58641D;
    --accent1-color: #EEE82C;
    --accent2-color: #927555;
    --accent3-color: #000000;
    --accent4-color: #D4D4D4;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: auto;
    color: var(--assets2);
    font-family: A;
}

h1 h2 p {

    color: var(--assets2);
}

p {
    color: var(--black);
}

.hero {
    position: relative;
    
}

h1 article {
    position: absolute;
}

.hero, img {
    float: right;
}

footer a {
    text-decoration: none;
}