/* https://coolors.co/2b303a-f6ca83-008dd5-32de8a-d1ccdc */

:root {
    --primary-color: #228B22;
    --secundary-color: #FFE347;
    --accent1-color: #40E0D0;
    --accent2-color: #808080;
    --accent3-color:  #D1CCDC;
    --accent4-color: #000000;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    background-color: var(--accent2-color);
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: var(--primary-color);
}

header a {
    color: #fff;
    padding: 10px;
    margin-left: 30px;
    padding: 5px 20px;
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--accent4-color);
}

footer{
    background-color: var(--primary-color);
    padding: 10px;
    border-top: 1px solid black;
    text-align: center;
    color: #fff;
}