:root {
    --darkblue: rgba(0, 0, 139, 0.822);
    --center: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

nav {
    background-color: var(--darkblue);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    font-size: 1.2rem;
    color: var(--darkblue);
    margin-left: 10px;
    padding: 10px;
    border-bottom: 1px solid black;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main {
    margin: 1rem;
    grid-column: 2/3;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 0 1rem 1rem;
    float: right;
}

p {
    text-align: justify;
    text-indent: 10px;
    margin: 1rem;
}

.grid {
    display: grid;
    align-items: center;
}

aside {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    width: 15rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #0f0e0e;
    text-align: var(--center);
}

aside h2 {
    position: absolute;
    top: 5px;
    left: 125px;
    color: var(--darkblue);
}

 h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: opx;
    margin-inline-end: 0px;
    font-weight: bold;
}

aside img {
    width: 200px;
    height: auto;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    justify-items: center;
}

/* Class Selectors*/

.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0,.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding: 2rem;
}

